<div class="row mt-5 mb-5">
  <div class="col-sm-6">
    <h1>Categories</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_category_path, class: 'btn btn-primary' do %>
    Add New Category
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <%= content_tag :tr, id: dom_id(category), class: dom_class(category) do %>
          
            <td><%= link_to category.name, category %></td>
          

                      <td><%= category.description %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
